<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <!-- Start : row -->

      <!-- Empty the 'row' div -->

      <!-- remove this 'div' for products -->

      <div *ngFor="let productInfo of productsInfo">
        <div class="col s12 m4 card ">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">{{ productInfo.name }}</h5>

            <p class="light">price:{{ productInfo.price }}</p>

            <ng-container
              *ngIf="productInfo.stock > 0; then available; else notAvailable"
            >
            </ng-container>

            <ng-template #available>
              <p
                class="light"
                [ngClass]="{
                  available: productInfo.stock > 0,
                  notAvailable: productInfo.stock === 0
                }"
              >
                Availability : {{ productInfo.stock }}
              </p>
            </ng-template>

            <ng-template #notAvailable>
              <p
                class="light"
                [ngClass]="{
                  available: productInfo.stock > 0,
                  notAvailable: productInfo.stock === 0
                }"
              >
                Not Available
              </p>
            </ng-template>

            <span [ngSwitch]="productInfo.country">
              Country:

              <span *ngSwitchCase="'india'">
                India
              </span>
              <span *ngSwitchCase="'pakistan'">
                pakistan
              </span>
              <span *ngSwitchDefault>
                Default
              </span>
            </span>
          </div>
        </div>

        <!-- End : row -->
      </div>
    </div>
  </div>
</div>
